button {
    margin:0 auto;
    display:block;
    width: 256px;
    margin-top:10px;
}
.center
{
    margin:0 auto;
    display:block;
    text-align: center;
}
#resultsChart
{
    margin:0 auto;
    display:block;
    max-height: 300;
    max-width: 600;
}
#recognizedDigit {
    color:#33C3F0;
    text-align: center;
}