button {
    margin:0 auto;
    display:block;
    width: 256px;
    margin-top:10px;
}
.center
{
    margin:0 auto;
    display:block;
    text-align: center;
}
.resultsChart
{
    height: 400;
    width: 800;
}